.main{
    width: 77%;
    padding: 32px;
}
// 表頭
.main-header{
    margin-bottom: 44px;
    // 下拉選單
    .form-select{
        border: 0px;
    }
    // 右側icon
    .material-icons{
        font-size: 24px;  /* Preferred icon size */
        margin-left: 26px;
        color: $primary;
    }
}
// 中間內容-左側欄位
.main-content-left{
    width: 34%;
    .icon-arrow-down{
        color: $success;
        margin-bottom: 6px;
    }
    .main-content-left-item{
        li{
            border: 1px solid $dark;
            &:first-child{
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }
            &:last-child{
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
            }
            a{
                padding: 12px;
            }
            &:hover{
                background-color: $light;
            }
        }
        .item-selected{
            background-color: $light;
        }
        .name{
            color: $secondary;
        }
        .subtitle, .time{
            margin-bottom: 4px;
        }
    }
}
// 中間內容-右側欄位
.main-content-right{
    width: 63%;
    .main-content-right-number{
        text-align: right;
        color: $secondary;
        line-height: 2;
    }
    .main-content-right-title{
        padding: 12px;
        border: 1px solid $dark;
        background-color: $light;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        .subtitle{
            margin-bottom: 4px;
        }
    }
    .main-content-right-content{
        padding: 16px;
        border: 1px solid $dark;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 24px;
    }
    .item-title{
        margin-bottom: 4px;
    }
    .item-time{
        color: $secondary;
    }
    .code{
        color: $success;
        background-color: $light;
        font-family: "Roboto Mono";
    }
    .information{
        width: 88%;
        
    }
    .btn-download{
        border-radius: 2px;
        background-color: $light;
        border: 1px solid $dark;
        max-width: 176px;
        a{
            padding: 8px 0 ;
        }
        p{
            margin-right: 4px;
        }
        &:hover{
            background-color: $dark;
        }
        
    }

}

// hover效果
.icons{
    &:hover{
        color: $success;
    }
}

